TryIt/Service References/reqdServices/reqdServices43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Top10Words" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Top10Words" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RMAticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RMANumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RMAticket" nillable="true" type="tns:RMAticket" />
</xs:schema>